@media (max-width: 576px) {
  .cv-page {
    width: 576px;
    margin: 0 auto;
    padding: 10px;
  }
  /* navbar */
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .menu {
    width: 100%;
    height: 50px;
    border: 1px solid #dbe4ff;
  }
  /* lý lịch */
  .info-target {
    flex-direction: column;
  }

  #info,
  #target {
    width: 100%;
  }

  .lylichcontainer {
    display: flex;
    flex-direction: column;
  }
  #education {
    padding-bottom: 80px;
    height: 400px;
  }

  #experience {
    padding-bottom: 150px;
    height: 350px;
  }

  #hobby {
    height: 280px;
    font-weight: bolder;
    line-height: 2;
  }
  #language {
    height: 250px;
    line-height: 2;
  }
  #activity {
    padding-bottom: 70px;
    height: 300px;
  }
  #skill {
    padding-bottom: 200px;
    height: 300px;
    line-height: 2;
    font-weight: bolder;
  }

  /* Chứng chỉ */
  .certificate-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    gap: 60px;
  }
  .section1 .section-title {
    padding-left: 40px;
    font-size: 24px;
  }
  .certificate1,
  .certificate2,
  .certificate3 {
    display: flex;
    gap: 10px;
    padding-left: 0;
    align-items: center;
    align-content: center;
    width: 500px;
  }
  .certificate3 {
    border: none;
  }
  /* Dự án */
  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 100px;
  }
  .section2 .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgproject {
    width: 100%;
    height: 300px;
  }
  .icons-project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .iconsinproject {
    display: inline-block;
  }
  .mota,
  .mission,
  .tech {
    width: 20%;
    padding-left: 20px;

    padding-bottom: 10px;
  }
  .description {
    width: 80%;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .project1,
  .project2,
  .project3 {
    border: 3px solid #07195c;
  }
}
